<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("./linkScripts.ejs") %>
  <title>ChainChain</title>
</head>

<body class="d-flex flex-column h-100 bg-white py-5">
  <%- include("./navbar.ejs") %>
  <!-- <div class="my-5 debug">
    <%- include("./debug.ejs") %>
  </div> -->
  <div class="cotainer d-block" style="height:60px">
    <p></p>
  </div>
  <section>
    <div id="landing" class="w-md-70 h-100 m-3 p-3 m-md-5 p-md-5 text-center">
      <h1 style=font-size:3rem>ChainChain 블록체인 자전거 관리 플랫폼</h1>
      <br>
      <h3 class="lead">누구나, 편리하게, 즉시 공익에 기여</h3>
      <br>
      <h4 class="lead">자전거 등록, 관리에 블록체인을 적용한 공익 프로젝트</h4>
      <br>
      <p class="lead">
        <a id="queryAbandonedBtnMain" class="btn btn-lg btn-secondary fw-bold border-white bg-primary">방치된 자전거 조회하기</a>
      </p>
    </div>
    <div id="result" class="d-none">
    </div>
    <div id="debugResult" class="d-none">
    </div>
  </section>
  <!-- <div id="loader" class="loader d-flex justify-content-center align-items-center"> -->
  <!-- Place at bottom of page -->
  <!-- </div> -->

  <div class="modals">
    <%- include("./modals/register_modal.ejs") %>
    <%- include("./modals/query_modal.ejs") %>
    <%- include("./modals/login_modal.ejs") %>
    <%- include("./modals/signup_modal.ejs") %>
    <%- include("./modals/change_modal.ejs") %>
  </div>
  <script src="../scripts/displayData.js"></script>
  <script src="../scripts/queries.js"></script>
  <script src="../scripts/script.js"></script>
</body>

</html>